<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://trello.com/power-ups/power-up.css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
